{% extends 'main.html' %}

{% block content %}



<div class="wrapper home-wrapper">

    <div>
        {% include 'base/components/topics.html' %}
    </div>

    <div>
        <a href="{% url 'create-room' %}" class="btn btn-blue round-4px create-room-btn">Create Room</a>
        <h2>{{rooms_count}} Rooms Available.</h2>
        {% include 'base/components/feed.html' %}
        {% include 'base/components/paginator.html' %}
    </div>

    <div>
        <div class="profile">
            <h2>Profile</h2>
            {% if not request.user.is_anonymous %}
                <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
                <p>@{{ request.user }}</p>
            {% endif %}
        </div>
        {% include 'base/components/recent_activity.html' %}
    </div>



</div>

{% endblock %}