{% extends 'main.html' %}

{% block content %}
<h2>room - {{ room.name }}</h2>
<p>{{ room.description }}</p>


<div class="comment-wrapper">
    <h3>Conversation</h3>
    <hr>
    {% for message in room_messages %}
        <div>
            {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}">Delete</a>
            {% endif %}
            <small>@{{message.user}} - {{message.created|timesince}} ago.</small>
            <p>{{message.body}}</p>
            <hr>
        </div>
    {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="message-writer">
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write your message...">
    </form>
</div>
{% endif %}

<div>
    <h3>Participants</h3>
    <hr>
    {% for user in participants %}
        <p>@{{ user.username }}</p>
    {% endfor %}
</div>

{% endblock %}